

.chatform{
    width: 400px;
    height: 10px;
    margin-left: 50%;
    border-style: hidden;
   
   
  }
  .container {
    position: absolute;
    width: 500px;
    height: 10px;
    bottom: 80px;
    right: 16px;
    font-size: 0px;
    width: 50%;
   
    
    
}
img{
    border-style: none;
    MARGIN-LEFT: 50%;
}
 