.chatcontrol{
  float: left;
  width: 50%;
  
  border-radius: 0px;
  

  .chatinput{
    width: 50%;
    float: left;
    
    border-radius: 0px;
  }

  .sendbtn{
    width: 50%;
    float: left;
    border-radius: 25px;
    text-transform: uppercase;
    
  
    
  }

  
}
